<p class="name text-center">
        References
    </p>

<div class="back-container"> 
    <div class="row top-row">
        <div class="separator">
        </div>
        <div class="resume-container-parent">
            <div class="resume-container-child">
                <!-- REFERENCE 1 -->
                <hr>
                <div class="reference-name">
                    {{CONSTANTS.REFERENCES.REFERENCE1.NAME}}
                </div>
                <div class="reference-title">
                    {{CONSTANTS.REFERENCES.REFERENCE1.TITLE}}
                </div>
                <div class="reference-date">
                    {{CONSTANTS.REFERENCES.REFERENCE1.DATE}}
                </div>
                <div class="reference-connection">
                    {{CONSTANTS.REFERENCES.REFERENCE1.CONNECTION}}
                </div>
                <br>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE1.CONTENT}}
                </div>

                <!-- REFERENCE 2 -->
                <hr>
                <div class="reference-name">
                    {{CONSTANTS.REFERENCES.REFERENCE2.NAME}}
                </div>
                <div class="reference-title">
                    {{CONSTANTS.REFERENCES.REFERENCE2.TITLE}}
                </div>
                <div class="reference-date">
                    {{CONSTANTS.REFERENCES.REFERENCE2.DATE}}
                </div>
                <div class="reference-connection">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONNECTION}}
                </div>
                <br>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT1TITLE}}
                </div>
                <br>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT1}}
                </div>
                <br>
                <div class="reference-content" style="font-weight:600">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT2TITLE}}
                </div>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT2}}
                </div>
                <br>
                <div class="reference-content" style="font-weight:600">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT3TITLE}}
                </div>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT3}}
                </div>
                <br>
                <div class="reference-content" style="font-weight:600">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT4TITLE}}
                </div>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT4}}
                </div>
                <br>
                <div class="reference-content" style="font-weight:600">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT5TITLE}}
                </div>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT5}}
                </div>
                <br>
                <div class="reference-content" style="font-weight:600">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT6TITLE}}
                </div>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE2.CONTENT6}}
                </div>
            </div>
        </div> 
    </div>
</div>
