@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Roboto+Slab');

.name {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
}

.references-container {
    background: rgba(255,255,255,0.9);
    padding-bottom: 30px;
    max-width: 768px;
    font-family: 'Roboto Slab', serif;

}

.reference-name {
    font-weight: bold;
    font-size: 16pt;
}

.reference-title {

}

.reference-date {

}

.reference-connection {

}

.reference-content {

}
