<p class="name text-center">
        REFERENCES
    </p>

<div class="back-container"> 
    <div class="row top-row">
        <div class="separator">
        </div>
        <div class="resume-container-parent">
            <div class="resume-container-child">
                <!-- REFERENCE 1 -->
                <hr>
                <div class="reference-name">
                    {{CONSTANTS.REFERENCES.REFERENCE1.NAME}}
                </div>
                <div class="reference-title">
                    {{CONSTANTS.REFERENCES.REFERENCE1.TITLE}}
                </div>
                <div class="reference-date">
                    {{CONSTANTS.REFERENCES.REFERENCE1.DATE}}
                </div>
                <div class="reference-connection">
                    {{CONSTANTS.REFERENCES.REFERENCE1.CONNECTION}}
                </div>
                <br>
                <div class="reference-content">
                    {{CONSTANTS.REFERENCES.REFERENCE1.CONTENT}}
                </div>
            </div>
        </div> 
    </div>
</div>
