<p class="name text-center" style="margin:auto">About</p>


<div class="back-container"> 
    <div class="row top-row">
        <div class="resume-container-parent">
            <div class="resume-container-child text-center">
                
                <hr style="margin: 20px 0;">

                <!-- activity 1 -->
                <div class="row about-element" >
                    <div class="col-sm-6">
                        <h1 class="paragraph-title">Ballet</h1>
                        <p>I've been doing ballet my whole life and im really good at it.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="../../assets/ballet.jpg" width="300px" height="300px">
                    </div>
                </div>

                <hr style="margin: 20px 0;">

                <!-- activity 2 -->
                <div class="row about-element" >
                    <div class="d-xs-none d-sm-none col-sm-6">
                        <h1 class="paragraph-title">Triathlon</h1>
                        <p>While doing my undergraduate studies at UC Santa Cruz, I was a member of the triathlon team.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="../../assets/triathlon.png" width="300px" height="300px" >
                    </div>
                    <div class="d-md-none d-lg-none d-xl-none col-sm-6">
                        <h1 class="paragraph-title">Triathlon</h1>
                        <p>While doing my undergraduate studies at UC Santa Cruz, I was a member of the triathlon team.</p>
                    </div>
                </div>

                <hr style="margin: 20px 0;">

                <!-- activity 3 -->
                <div class="row about-element" >
                    <div class="col-sm-6">
                        <h1 class="paragraph-title">Surfing</h1>
                        <p>In my free time, I like to get chundered on my 9 footer out in the frothy nukers out on the Santa Cruz coast. Smacking every lip and getting sooo pitted. </p>  
                    </div>
                    <div class="col-sm-6">
                        <img src="../../assets/surfing.png" width="300px" height="300px" >
                    </div>
                </div>

                <hr style="margin: 20px 0;">

                <!-- activity 2 -->
                <div class="row about-element" >
                    <div class="col-sm-6">
                        <img src="../../assets/farm.jpg" width="300px" height="300px" >
                    </div>
                    <div class="col-sm-6">
                        <h1 class="paragraph-title">Farming</h1>
                        <p>I've been doing ballet my whole life and im really good at it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
