<p class="name text-center" style="margin:auto">About</p>


<div class="back-container"> 
    <div class="row top-row">
        <div class="resume-container-parent">
            <div class="resume-container-child text-center">
                
                <hr style="margin: 30px 0;">

                <!-- activity 1 -->
                <div class="row about-element" >
                    <div data-aos="fade-right"class="col-sm-6">
                        <h1 class="paragraph-title">Ballet</h1>
                        <p>I’ve been dancing ballet my entire life. Every time I dance, I learn something new about myself. Whether it’s good or bad, a strength or weakness, ultimately it has helped me grow stronger. Now that I’m older, I still enjoy attending my old dance studio’s dance classes on the weekends to socialize and stay in shape.</p>
                    </div>
                    <div data-aos="fade-right" class="col-sm-6">
                        <img class="about-image" src="assets/ballet.jpg" alt="" width="300px" height="300px">
                    </div>
                </div>

                <hr style="margin: 30px 0;">

                <!-- activity 2 -->
                <div class="row about-element" >
                    <div data-aos="fade-right" class="d-sm-none col-sm-6">
                        <h1 class="paragraph-title">Surfing</h1>
                        <p>Yea, that's right. I get pitted. Soooo pitted. Having lived in Santa Cruz for four years, it was inevitable that I'd pick up surfing as a hobby eventually. When the swell is up, you can catch me outside in the lineup admiring the California coast while waiting for the right wave to blast me down the line or spit me out of a huuge barrel, maaaaan. Yeeew!!  </p>  
                    </div>
                    <div data-aos="fade-right" class="col-sm-6">
                        <img class="about-image" src="assets/surfing.png" alt="" width="300px" height="300px" >
                    </div>
                    <div data-aos="fade-right" class="d-none d-sm-block col-sm-6">
                        <h1 class="paragraph-title">Surfing</h1>
                        <p>Yea, that's right. I get pitted. Soooo pitted. Having lived in Santa Cruz for four years, it was inevitable that I'd pick up surfing as a hobby eventually. When the swell is up, you can catch me outside in the lineup admiring the California coast while waiting for the right wave to blast me down the line or spit me out of a huuge barrel, maaaaan. Yeeew!!  </p>  
                    </div>
                </div>

                <hr style="margin: 30px 0;">

                <!-- activity 3 -->
                

                <!-- activity 2 -->
                <div class="row about-element" >
                    <div data-aos="fade-right" class="col-sm-6">
                        <h1 class="paragraph-title">Triathlon</h1>
                        <p>To give you some background, I swam for my high school swim team and took up cycling as a hobby just before college. So naturally, I decided to join the collegiate triathlon team at UC Santa Cruz as an excuse to explore the beautiful mountains and beaches of Santa Cruz and to push myself to the limit physically. It has brought me all over California, created lasting memories, and taught me how to push myself.</p>
                    </div>
                    <div data-aos="fade-right" class="col-sm-6">
                        <img  class="about-image" src="assets/triathlon.png" alt="" width="300px" height="300px" >
                    </div>
                </div>

                <hr style="margin: 30px 0;">

                <!-- activity 4 -->
                <div class="row about-element" >
                    <div data-aos="fade-right" class="d-sm-none col-sm-6">
                        <h1 class="paragraph-title">Farming</h1>
                        <p>There's nothing like the smell of fresh dirt in the morning. I think it's really important for people to understand how food is grown and produced and how it ends up on one's dinner table. It is way too common for people to take their food for granted and food sustainability and education has always been important to me. </p>
                    </div>
                    <div data-aos="fade-right" class="col-sm-6">
                        <img class="about-image" src="assets/farm.jpg" alt="" width="300px" height="300px" >
                    </div>
                    <div data-aos="fade-right" class="d-none d-sm-block col-sm-6">
                        <h1 class="paragraph-title">Farming</h1>
                        <p>There's nothing like the smell of fresh dirt in the morning. I think it's really important for people to understand how food is grown and produced and how it ends up on one's dinner table. It is way too common for people to take their food for granted and food sustainability and education has always been important to me.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
