
@import "../styles/global_styles.scss";
@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Roboto+Slab');

.parallax {
  /* The image used */
  background-image: url("../assets/leaves2.jpg");
  // background-image: linear-gradient(red, yellow, green);

  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include breakpoint(md, up){
    nav-item{
        padding: 0 100px;
    }
}

.nav-link{
    font-family: 'Roboto Slab', serif;
}

.footer {
    background: #061D25;
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }