
@import "../styles/global_styles.scss";

.parallax {
  /* The image used */
  background-image: url("../assets/leaves2.jpg");
  // background-image: linear-gradient(red, yellow, green);

  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
