<p class="name text-center">
        {{CONSTANTS.NAME.FIRST}} {{CONSTANTS.NAME.LAST}}
</p>  

<div class="back-container"> 
    <div class="row top-row">
        <div class="resume-container-parent">
           

            <div class="resume-container-child">
                <!-- <div class="banner text-center">
                    <img src="../assets/desk2.jpg" alt="" id="resume-banner" height="90%" width="90%">
                </div> -->
                <div class="experience-education-banner">
                    EXPERIENCE
                </div>

                <!-- EXPERIENCE 1 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE1.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE1.LOCATION}}
                </div>
                <div class="experience-details">
                <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE1.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE1.DETAIL2}}</li>
                </ul>
                </div>

                <!-- EXPERIENCE 2 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE2.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE2.LOCATION}}
                </div>
                <div data-aos="fade-right"  class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE2.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE2.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- EXPERIENCE 3 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE3.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE3.LOCATION}}
                </div>
                <div data-aos="fade-right"  class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE3.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE3.DETAIL2}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE3.DETAIL3}}</li>

                    </ul>
                </div>

                <!-- experience 4 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE4.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE4.LOCATION}}
                </div>
                <div data-aos="fade-right"  class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE4.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE4.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- experience 5 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE5.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE5.LOCATION}}
                </div>
                <div data-aos="fade-right"  class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- experience 6 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE6.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE6.COMPANY}}
                </div>
                <div data-aos="fade-right"  class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE6.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE6.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE6.LOCATION}}
                </div>
                <div data-aos="fade-right"  class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE6.DETAIL1}}</li>
                    <li data-aos="fade-right"  >{{CONSTANTS.EXPERIENCE.EXPERIENCE6.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- experience 7 -->
                <hr>
                <div data-aos="fade-right"  class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE7.TITLE}}
                </div>
                <div data-aos="fade-right"  class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE7.COMPANY}}
                </div>
                <div data-aos="fade-right" class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE7.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE7.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE7.LOCATION}}
                </div>
                <div data-aos="fade-right" class="experience-details">
                    <ul class="experience-details-list">
                    <li data-aos="fade-right">{{CONSTANTS.EXPERIENCE.EXPERIENCE7.DETAIL1}}</li>
                    <li data-aos="fade-right">{{CONSTANTS.EXPERIENCE.EXPERIENCE7.DETAIL2}}</li>
                    </ul>
                </div>

                <div data-aos="fade-up" class="experience-education-banner">
                    EDUCATION
                </div>

                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EDUCATION.COLLEGE}}
                </div>
                <div class="education-degree">
                    {{CONSTANTS.EDUCATION.DEGREE1}}
                </div>
                <div class="education-degree">
                    {{CONSTANTS.EDUCATION.DEGREE2}}
                </div>
                <div class="education-degree">
                    Graduated Cum Laude
                </div>

                <div data-aos="fade-up" class="experience-education-banner">
                    SKILLS
                </div>
                
                <hr>
                <div class="col-sm-6 experience-details">
                    <ul class="experience-details-list first-column">
                        <li>Community Outreach</li>
                        <li>Program Administration</li>
                        <li>Public Speaking</li>
                        <li>Volunteer Coordination</li>
                        <li>Organization</li>
                        <li>Teamwork</li>
                        <li>Event Planning</li>
                    </ul>
                </div>
                <div class="col-sm-6 experience-details">
                    <ul class="experience-details-list" style="padding-bottom: 40px">
                        <li>Customer Service</li>
                        <li>Social Media Management</li>
                        <li>Research</li>
                        <li>CRM Database Use</li>
                        <li>Photography/Photo Editing</li>
                        <li>Conversational Spanish</li>
                        <li>Microsoft Office and Google Suite</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

