@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Roboto+Slab');
@import "../../styles/global_styles.scss";

.name {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
}

.resume-container {
    background: rgba(255,255,255,0.9);
    padding-bottom: 30px;
    max-width: 768px;
}
.experience-education-banner {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
    padding-top: 30px;
}

.experience-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.experience-company {
    font-family: 'Roboto Slab', serif;
}

.date-and-location {
    padding-bottom: 10px;
}

.experience-details-list {
    font-size: 10pt;
}

.education-degree {
    font-family: 'Roboto Slab', serif;
}
.experience-details-list {
    font-family: 'Roboto Slab', serif;

}

#resume-banner {
}