<p class="name text-center">
        {{CONSTANTS.NAME.FIRST}} {{CONSTANTS.NAME.LAST}}
</p>  

<div class="back-container"> 
    <div class="row top-row">
        <div class="resume-container-parent">
           

            <div class="resume-container-child">
                <!-- <div class="banner text-center">
                    <img src="../assets/desk2.jpg" alt="" id="resume-banner" height="90%" width="90%">
                </div> -->
                <div class="experience-education-banner">
                    EXPERIENCE
                </div>

                <!-- EXPERIENCE 1 -->
                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.TITLE}}
                </div>
                <div class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.COMPANY}}
                </div>
                <div class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE1.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE1.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE1.LOCATION}}
                </div>
                <div class="experience-details">
                <ul class="experience-details-list">
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE1.DETAIL1}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE1.DETAIL2}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE1.DETAIL3}}</li>
                </ul>
                </div>

                <!-- EXPERIENCE 2 -->
                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.TITLE}}
                </div>
                <div class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.COMPANY}}
                </div>
                <div class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE2.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE2.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE2.LOCATION}}
                </div>
                <div class="experience-details">
                    <ul class="experience-details-list">
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE2.DETAIL1}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE2.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- EXPERIENCE 3 -->
                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.TITLE}}
                </div>
                <div class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.COMPANY}}
                </div>
                <div class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE3.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE3.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE3.LOCATION}}
                </div>
                <div class="experience-details">
                    <ul class="experience-details-list">
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE3.DETAIL1}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE3.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- experience 4 -->
                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.TITLE}}
                </div>
                <div class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.COMPANY}}
                </div>
                <div class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE4.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE4.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE4.LOCATION}}
                </div>
                <div class="experience-details">
                    <ul class="experience-details-list">
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE4.DETAIL1}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE4.DETAIL2}}</li>
                    </ul>
                </div>

                <!-- experience 5 -->
                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.TITLE}}
                </div>
                <div class="experience-company">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.COMPANY}}
                </div>
                <div class="date-and-location">
                    {{CONSTANTS.EXPERIENCE.EXPERIENCE5.STARTDATE}} -  {{CONSTANTS.EXPERIENCE.EXPERIENCE5.ENDDATE}} |  {{CONSTANTS.EXPERIENCE.EXPERIENCE5.LOCATION}}
                </div>
                <div class="experience-details">
                    <ul class="experience-details-list">
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL1}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL2}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL3}}</li>
                    <li>{{CONSTANTS.EXPERIENCE.EXPERIENCE5.DETAIL4}}</li>
                    </ul>
                </div>

                <div class="experience-education-banner">
                    EDUCATION
                </div>

                <hr>
                <div class="experience-title">
                    {{CONSTANTS.EDUCATION.COLLEGE}}
                </div>
                <div class="education-degree">
                    {{CONSTANTS.EDUCATION.DEGREE1}}
                </div>
                <div class="education-degree">
                    {{CONSTANTS.EDUCATION.DEGREE2}}
                </div>
                
                </div>
                </div>
        </div>
</div>


