<p class="name text-center" style="font-size: 40pt">
    Emily Repech
</p>  
<div class="back-container"> 
    <div class="row top-row">
        <div class="col home-container" style="margin: auto">
               
            <!-- LEFT -->
            <div class="col-sm-6 left-banner post"> 
                <div class="banner text-center">
                    <img src="../assets/Emily_repech.jpeg" alt="" id="emily-repech" height="300px" width="300px">
                </div>
            </div>

            <!-- RIGHT -->
            <div class="col-sm-6 right-banner post">
                <h1 class="paragraph-title">Emily Repech</h1>
                <p class="summary">
                    is a passionate young professional currently looking for a full time, permanent position where she can use her skills to promote environmental stewardship through community building and outreach. She is committed to environmental and social justice and has comprehensive skills in program coordination and environmental sustainability leadership. She recently graduated from the University of California, Santa Cruz with degrees in Environmental Studies and Politics, with honors in both degrees, as well as Cum Laude.                </p>    
            </div>   
        </div>     
    </div>
</div>
