
<div class="back-container"> 
    <div class="row top-row">
        <div class="col home-container" style="margin: auto">
                <!-- <p class="name text-center">
                    Emily
                </p>  
                <p class="name text-center">
                    Repech
                </p>   -->
            <!-- LEFT -->
            <div class="col-sm-6 left-banner"> 
               
                <div class="banner text-center">
                    <img src="../assets/Emily_repech.jpeg" alt="" id="emily-repech" height="300px" width="300px">
                </div>
            </div>

            <!-- RIGHT -->
            <div class="col-sm-6 right-banner">
                <h1 class="name2">Emily Repech</h1>
                <p class="summary">
                    I am a passionate young professional with lots of experience in community outreach and program coordination. I consider myself an environmental steward and my goal is to seek out environmental and social justice through community building and outreach. I recently graduated from the University of California, Santa Cruz with degrees in Environmental Studies and Politics with honors in both degrees as well as Cum Laude honors. I am currently looking for a full time permanent position where I can use my skills to promote real change.
                </p>    
            </div>   
        </div>     
    </div>
</div>

