@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Roboto+Slab');
@import "../../styles/global_styles.scss";

.name {
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
    margin-bottom: 0px;
}

.name2 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.summary {
    font-family: 'Roboto Slab', serif;
}

.left-banner {
    margin: auto;
}

.right-banner{
    margin: auto;
    padding-top: 25px;
}

#emily-repech {
    // position: absolute;
    // border-radius: 50%;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 5px 5px 2px grey;
}

.home-container {
    background-color: rgba(255,255,255,0.9);
    padding-bottom: 30px;
    max-width: 768px;
    min-height: 100vh;
}


